body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
p {
    text-align: left;
}

h1 {
    color: #333333;
}

a {
    color: #86ADBA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
li {
    list-style-type: none; 
    text-align: left;  
}
